packages: [
  "atom-material-numix-syntax"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "busy-signal"
  "color-picker"
  "copy-path"
  "custom-title"
  "file-icons"
  "file-watcher"
  "go-plus"
  "goto-definition"
  "intentions"
  "language-babel"
  "language-haml"
  "language-jenkinsfile"
  "linter"
  "linter-eslint"
  "linter-pylint"
  "linter-swagger"
  "linter-ui-default"
  "local-history"
  "material"
  "material-design-syntax"
  "material-syntax"
  "minimap"
  "package-sync"
  "prettier-atom"
]
